.UIButton.string{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: #fff;
    background-color: #186386;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;


}
.UIButton.active{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: #fff;
    background-color: #ff0000;
    padding: 0 15px;
    height: 40px;
    align-items: center;
    border-radius: 7px;
    user-select: none;
    cursor: pointer;
}
.UIButton.number{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: #fff;
    background-color: #186386;
    padding: 0 20px;

    height: 60px;
    align-items: center;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    justify-content: center;

}
.UIButton:hover{
    scale: 1.1;
    transition: 0.2s;
}

